In [2]:
import pandas as pd

In [5]:
df_bicimad = pd.read_csv('../data/BiciMad.csv')
df_bicimad.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,geometry_coordinates
0,1,Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,15,11,0,Point,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,22,4,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,11,0,Point,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,0,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,4,11,0,Point,"[-3.7069171, 40.4302937]"
4,5,Malasaña,2,4,Calle Manuela Malasaña nº 5,1,0,24,12,12,0,Point,"[-3.7025875, 40.4285524]"

In [6]:
df_points_int = pd.read_csv('../data/datasets_ayto.csv')
df_points_int.head()

,dataset,name,address,zip_code,longitude,latitude
0,Aparcamientos públicos municipales,Aparcamiento disuasorio Aviación Española,CALLE FUENTE DE LIMA 5,28024,-3.783593,40.383353
1,Aparcamientos públicos municipales,Aparcamiento disuasorio Estadio Metropolitano ...,AVENIDA ARCENTALES 37,28022,-3.598831,40.434154
2,Aparcamientos públicos municipales,Aparcamiento disuasorio Fuente de la Mora,CALLE DULCE CHACON,28050,-3.664502512734404,40.48444286881538
3,Aparcamientos públicos municipales,Aparcamiento disuasorio Islazul,CALLE CALDERILLA 1,28054,-3.737923481612698,40.36521668890186
4,Aparcamientos públicos municipales,Aparcamiento disuasorio Pitis,CALLE GLORIA FUERTES,28049,-3.727236000896534,40.494192950973726